In [18]:
import sqlalchemy 
from pprint import pprint

db = 'postgresql://dima:admin@localhost:5432/dimadb'
engine = sqlalchemy.create_engine(db)
print(engine)

Engine(postgresql://dima:***@localhost:5432/dimadb)

In [19]:
connection = engine.connect()

In [20]:
   # 1. количество исполнителей в каждом жанре;
sel = connection.execute("""
SELECT g.жанры_name, count(a.музыканты_id) FROM Жанры g 
JOIN МузыкантыЖанры a 
ON g.id = a.жанры_id
GROUP BY g.жанры_name;
""").fetchall()
print(f'1. Количество исполнителей в каждом жанре:')
pprint(sel)

1. Количество исполнителей в каждом жанре:
[('Pop Music', 2),
 ('Rap Music', 3),
 ('Rock Music', 1),
 ('Jazz Music', 1),
 ('Classic Music', 1)]

In [21]:
# 2. количество треков, вошедших в альбомы 2019-2020 годов;
sel = connection.execute("""
SELECT count(1) FROM Альбомы a 
JOIN Треки t ON a.id = t.альбомы_id 
WHERE a.альбомы_start BETWEEN '2019' AND '2020'
""").fetchall()
print(f'\n2. Количество треков, вошедших в альбомы 2019-2020 годов: ')
pprint(sel)

2. Количество треков, вошедших в альбомы 2019-2020 годов:
[(4,)]

In [22]:
# 3. средняя продолжительность треков по каждому альбому;
sel = connection.execute("""
SELECT a.альбомы_name, to_char(concat(avg(t.треки_time))::interval,'MI:SS') 
FROM Альбомы a JOIN Треки t ON a.id = t.альбомы_id 
GROUP BY a.id
ORDER BY a.id
""").fetchall()
print(f'\n3. Cредняя продолжительность треков по каждому альбому:')
pprint(sel)

3. Cредняя продолжительность треков по каждому альбому:
[('Music', '03:00'),
 ('Eye of The Beholder', '02:19'),
 ('Bed of Roses', '02:55'),
 ('Come and Get You', '02:04'),
 ('Revival', '03:30'),
 ('DAMN', '02:12'),
 ('Sonata', '03:20'),
 ('My Way', '02:24')]

In [23]:

# 4. все исполнители, которые не выпустили альбомы в 2020 году;
sel = connection.execute("""
SELECT a.name 
FROM Музыканты a JOIN МузыкантыАльбомы a2 ON a.id = a2.музыканты_id 
JOIN Альбомы a3 ON a3.id = a2.альбомы_id
WHERE a3.альбомы_start != '2020' -- Все 
""").fetchall()
print(f'\n4. Все исполнители, которые не выпустили альбомы в 2020 году:')
pprint(sel)

4. Все исполнители, которые не выпустили альбомы в 2020 году:
[('Madonna',),
 ('Metallica',),
 ('Bon Jovi',),
 ('50 Cent',),
 ('Eminem',),
 ('Kendrick Lamar',),
 ('Mozart',),
 ('Frank Sinatra',)]

In [24]:
# 5. названия сборников, в которых присутствует конкретный исполнитель (50 Cent);
музыканты_ = 'Mozart'
sel = connection.execute(f"""
SELECT s.сборники_name
FROM Сборники s 
JOIN ТрекиСборники ts ON s.id = ts.сборники_id 
JOIN Треки t ON ts.треки_id = t.id
JOIN Альбомы a ON t.альбомы_id = a.id
JOIN МузыкантыАльбомы ma ON a.id = ma.альбомы_id
JOIN Музыканты m ON ma.музыканты_id = m.id
WHERE m.name LIKE 'Mozart'
""").fetchall()
print(f'\n5. Названия сборников, в которых присутствует конкретный исполнитель (по выбору): ')
pprint(sel)

5. Названия сборников, в которых присутствует конкретный исполнитель (по выбору):
[('Сборник №7 Jazz&Classic',), ('Сборник №8 All music',)]

In [25]:
sel= connection.execute('''
SELECT a.альбомы_name, a.альбомы_start, m.name
FROM Альбомы a
JOIN МузыкантыАльбомы ma  ON a.id = ma.альбомы_id
JOIN Музыканты m ON ma.музыканты_id = m.id
JOIN МузыкантыЖанры gm ON m.id = gm.музыканты_id
GROUP BY m.name, a.альбомы_name, a.альбомы_start
HAVING count(1) > 1
''').fetchall()
pprint(f'Название альбомов, в которых присутствуют исполнители более 1 жанра: ')
print(sel)

'Название альбомов, в которых присутствуют исполнители более 1 жанра: '
[]

In [26]:
# 7. наименование треков, которые не входят в сборники; -- 6 трек не входит в сборники
sel = connection.execute("""
SELECT t.треки_name, to_char(concat(треки_time)::interval,'MI:SS') 
FROM Треки t LEFT JOIN ТрекиСборники tc ON t.id = tc.треки_id
WHERE tc.треки_id IS NULL

""").fetchall()
print(f'\n7. Наименование треков, которые не входят в сборники:')
pprint(sel)

7. Наименование треков, которые не входят в сборники:
[]

In [27]:
# 8. Исполнитель(и), написавшего самый короткий по продолжительности трек
# (теоретически таких треков может быть несколько);
sel = connection.execute("""
SELECT a.name, a3.альбомы_name, t.треки_name, t.треки_time, to_char(concat(t.треки_time)::interval,'MI:SS')
FROM Музыканты a JOIN МузыкантыАльбомы a2 ON a.id = a2.музыканты_id 
JOIN Альбомы a3 ON a3.id = a2.альбомы_id 
JOIN Треки t ON a3.id = t.альбомы_id
WHERE t.треки_time = (select min(треки_time) from Треки) 
""").fetchall()
print(f'\n8. исполнителя(-ей), написавшего самый короткий трек:')
pprint(sel)

8. исполнителя(-ей), написавшего самый короткий трек:
[('Kendrick Lamar', 'DAMN', 'DNA', Decimal('106.00'), '01:46')]

In [28]:
# 9. название альбомов, содержащих наименьшее количество треков.
sel = connection.execute("""
SELECT a.альбомы_name, count(t.id)
FROM Альбомы a JOIN Треки t on a.id = t.альбомы_id 
GROUP BY a.id
HAVING count(t.id) = (SELECT count(1) FROM Треки tt GROUP BY tt.альбомы_id ORDER BY 1 LIMIT 1)
""").fetchall()
print(f'\n9. название альбомов, содержащих наименьшее количество треков:')
pprint(sel)

9. название альбомов, содержащих наименьшее количество треков:
[('Revival', 1), ('Come and Get You', 1), ('Sonata', 1)]